/.venv
/Assignment1
/MMAI5400_class01_RE.ipynb
/MMAI5400_class01_WebScraping.ipynb
/MMAI5400_F24_lecture01.pdf
/MMAI5400_F24_lecture05.pdf
/MMAI5400_LectureNotes-1.pdf
/MMAI5500_F24_lecture01.pdf
/MMAI5500_F24_lecture02.pdf
/MMAI5500_F24_lecture03.pdf
/MMAI5500_F24_lecture04.pdf
/MMAI5500_F24_lecture05.pdf
/MMAI5500_F24_lecture06.pdf
/MMAI5500_F24_lecture07.pdf
/test.py